<!-- <div style="margin-bottom: 100%;" class="login"> -->
<div style="margin-left: 10%; margin-right: 10%; margin-top: 10px;">
    <div style="margin-bottom: 15px;">Login :</div>
    <input [(ngModel)]="userName" style="margin-bottom: 20px;" class="form-control" type="text">
    <input [(ngModel)]="passWord" class="form-control" type="password">
    <div style="margin-top: 10px;">
        <button (click)="onClick()" class="btn btn-primary">Login</button>
    </div>
    <div style="margin-top: 10px;">
        <a href="/register" class="btn btn-light" role="button">register</a>
    </div>
</div>
<!-- </div> -->