<div class="register">
    <div style="margin-left: 10%; margin-right: 10%; margin-top: 10px;">
        <div style="margin-bottom: 15px;">Register :</div>
        <input [(ngModel)]="userName" style="margin-bottom: 20px;" class="form-control" type="password">
        <input [(ngModel)]="passWord" class="form-control" type="text">
        <div style="margin-top: 10px;">
            <button (click)="onLogin()" class="btn btn-primary">ตกลง</button>
        </div>
        <div style="margin-top: 10px;">
            <a href="/" class="btn btn-light" role="button">login</a>
        </div>
        
        <div style="margin-top: 20px;">
            
        </div>
    </div>

</div>